<div style="border-radius: 50px;background: rgba(235, 235, 235, 0.671);" class="container w-50 p-5 mt-5 ">
    <h3 class="text-center text-info"> Transaction History</h3>
    <table class="border bg-light w-100 text-center">
        <thead>
            <tr class="border border-secondary">
                <th class="border border-secondary">Type</th>
                <th class="border border-secondary">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let i of transaction" class="border border-secondary">
                <td class="border border-secondary"  >{{i.type}}</td>
                <td class="border border-secondary">{{i.amount}}</td>
            </tr>
            
        </tbody>
    </table>
</div>
